.name {
  font-size: 70px;
  color:red;
  top:80px;
  left:-1000px;
  padding-bottom: 50px;
 }
 
 
 
 
 .desp{
  font-size:20px;
  color:black;
  position: relative;
  right:-925px;
  top:1px;
  font-family:courier;
 }
 
 
 
 .dep{
  font-size:20px;
  color:blue;
  position: relative;
  right:-1000px;
  top:3px;
  font-family:courier;
 }
 
 
 
 
  .des{
  font-size:20px;
  color:black;
  position: relative;
  right:-925px;
  top:1px;
  font-family:courier;
 }
 
 
 
 
 #banner {
  background-image: url("https://i.ytimg.com/vi/YlzjSydFueA/maxresdefault.jpg");
  background-size: cover;
  background-position:bottom center;
  height:80rem;
  width:180%;
}



#banner .content h1 {
  border: 3px solid white;
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
}



h1 {
  color: white;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}




header {
  color: #D7263D;
  font-size: 20px;
  line-height: 48px;
  padding: 40px 12%;
  text-align: center;
  text-transform: uppercase;
}



#pinkpic {
border:3px pink;
position: relative;
left:400px;
height:20%;
width:20%;
}



h5 {
 position: relative;
 top:50px;
 right:980px;
 Font-size:35px;
 height:250;
 width:3000px;
 color:black;
}



li{
 position: relative;
 top:50px;
 right:-290px;
 Font-size:25px;
 height:250;
 width:700px;
 color:gray;
}



.caption {
text-align:center;
margin-top:4px;
font-size:12px;
position:relative;
right:-450px;
}



.grid {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  vertical-align: center;
  position:relative;
  left:35%;
  top:50%;
}

.grid img {
    position:relative;
    width:55%;
    height:350px;
    
}



.grid img:hover{
 animation: shake 0.5s;
 animation-iteration-count: infinite;
}





#purpflowers{
  width:350px;
  height:400px;
  position: relative;
  background-color:#ff80c1;
  right:-20px;
}



#purpcab{
  width:350px;
  height:400px;
  position: relative;
  left:800px;
  background-color:#ff80c1;
}



p {
  color:red;
  font-size: 25px;
  width:700px;
  height:20px;
  position: relative;
  right:-755px;
  top: -50px;
  padding-bottom: 150px;


}



.nav {
  text-align: center;
  position: relative;
  Top:1px;
  right: 200px;
}



.nav a {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 40px 20px;
    cursor: pointer;
    text-decoration: blue;
}

.nav a:hover {
  color:blue;
  background-color: white;
}



#purpic{
   width:100%;
  height:100%;
}



#purppic{
    width:350px;
    height:500px;
    position:relative;
    right:-50px;
    top:300px;
    border: 4px solid black;
}

h2{
    width:650px;
    position:relative;
    font:2px;
    right:-1090px;
    top:-250px;
}

h4 {
    position:relative;
    right:-370px;
    top:205px; 
}
 
 

@media only screen and (max-width: 480px), (orientation: portrait) {
  .page-title {
    width: 270px;
  }
}


@media only screen and (min-device-width: 413px) and (max-device-width: 415px)
{
 h2{
    width:110%;
    position:relative;
    font-size:50px;
    font:20px;
    left:73%;
    top:500px;
    color:black;
}
    p1  {
  color:black;
  text-shadow: black;
  font-size:150px;
  width:80%;
  height:10em;
  position: relative;
  right:-75%;
  top:-1250px;
  padding-bottom: 150px;

}

#purppic{
    width:100%;
    height:50%;
    position:relative;
    right:-75%;
    top:350px;
    border: 4px solid black;
}

 #banner {
  background-image: url("https://i.ytimg.com/vi/YlzjSydFueA/maxresdefault.jpg");
  background-size: cover;
  background-position:bottom center;
  height:140rem;
  width:124rem;
}

#banner .content h1 {
  border: 3px solid white;
  position: relative;
  right:-5%;
  top: 50px;
  width: 400px;
  margin: 0 auto;
  font-size:50px;
}

.nav {
  text-align: center;
  position: relative;
  Top:1px;
  right:-10rem;
}



.nav a {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 40px 20px;
    cursor: pointer;
    text-decoration: blue;
}

}